{% extends 'base.html.twig' %}

{% block body %}
    <h1>Фонд казино</h1>

    <div>
        <strong>Размер денежного фонда</strong>: {{ view.fundMoneyBalance }}
    </div>
    <br/>

    <div>
        <strong>Склад вещей</strong>:

        <ul>
            {% for item in view.fundThings %}
                <li>{{ item.title }}</li>
            {% endfor %}
        </ul>

    </div>

{% endblock body %}
