<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome to online casino!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>

        <div>
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="flash-{{ label }}" style="background-color: yellow;">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>

        {% if is_granted('ROLE_ADMIN') %}
        <div>
            {% include 'menu.html.twig' %}
        </div>
        {% endif %}

        <br/>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
