<div>
    <a href="{{ path('prize_random') }}">Получить случайный приз</a>
    |
    <a href="{{ path('prize_list') }}">Мои призы</a>
    |
    <a href="{{ path('bonus_balance') }}">Мои баллы</a>
    |
    <a href="{{ path('casino_fund') }}">Фонд казино</a>
    |
    <a href="{{ path('app_logout') }}">Выход</a>
</div>
