{% extends 'base.html.twig' %}

{% block body %}
    <h1>Мои призы</h1>

    <div>
        {% for prize in view.prizes %}
            <div>
                <div><strong>{{ prize.title }}</strong></div>
                <div>Статус: <strong>{{ prize.status }}</strong></div>
                {% if prize.sendMoneyToBank %}
                    <div>
                        <a href="{{ path('prize_transfer_money', {moneyPrizeId: prize.id}) }}">Отправить в банк</a>
                    </div>
                {% endif %}
                {% if prize.convertMoneyToBonus %}
                    <div>
                        <a href="{{ path('prize_convert_money_to_bonus', {moneyPrizeId: prize.id}) }}">
                            Конвертировать в баллы по курсу {{ moneyPerOneBonus }} у.е. за 1 бонусный балл
                        </a>
                    </div>
                {% endif %}
                {% if prize.sendThingToUser %}
                    <div>
                        <a href="{{ path('prize_send_thing', {thingPrizeId: prize.id}) }}">Отправить почтой</a>
                    </div>
                {% endif %}
                {% if prize.acceptBonus %}
                    <div>
                        <a href="{{ path('prize_bonus_refill', {bonusPrizeId: prize.id}) }}">Зачислить на счёт лояльности</a>
                    </div>
                {% endif %}
                {% if prize.declinePrize %}
                    <div>
                        <a href="{{ path('prize_decline', {type: prize.type, id: prize.id}) }}">Отказаться от приза</a>
                    </div>
                {% endif %}
            </div>
            <br/>
        {% endfor %}
    </div>

{% endblock body %}
